node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
coverage
/coverage

# production
/build
dist
/dist
.jest

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.idea
.idea/
.vscode
.vscode/
